html{
    background-color: #e8e7c2;
}

.navbar{
    background-color: #654236;
}



.brandicon{
    height: 40px;
    width: 40px;
}

.banner {
    background-color: #e8e7c2;
    display: flex;
    justify-content: center;
    margin-top: 100px;

}

.student{
    background-color: #e8e7c2;
}

.teacher{
    background-color: #e8e7c2;
    padding-top: 50px;
}

.other{
    background-color: #e8e7c2;
    padding-top: 50px;
}

